@import "./colors.scss";
body {
  font-family: "Lato";
  margin: 0;
}

* {
  box-sizing: border-box;
}

figure {
  margin: 0;
  padding: 0;
}
.page-home {
  box-sizing: border-box;
  padding: 15px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 300px;
  grid-template-areas: "post users ";
}
.container-post {
  height: auto;
}
.container-friends {
  border: 1px solid pink;
  grid-area: users;
}

.container-newPost {
  padding: 5px 50px;
  margin-bottom: 20px;
  border-radius: 5px;

  .labelNewPost{
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  .inputNewPos{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
  }
}

.newPost-input {
  background-color: $primaryDarkC;
  width: 100%;
  height: 85px;
  position: relative;
  input[type="file"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  .newPost-container__btn {
    display: flex;
    border: none;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: 400;
    background-color: transparent;
    width: 100%;
    height: 100%;
    
  }
  
}
.newPost-upload{
  width: 100%;
  background-color: $primaryLightC;
  border: none;
  margin: 0;
  padding: 8px;
  color: white;
  border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

