@import "./colors";

.container-profile {
  margin-top: 15px;

  .hero-profile {
    display: flex;
    width: 100%;
    padding: 15px;
    color:  #3a3a3a;;
    .hero-profile__figure {
      width: 40%;
      height: 150px;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .hero-profile__info{
        width: 60%;
        h1{
            font-weight: 400;
            margin: 0;
            margin-bottom: 15px;
        }
        .info-suscription{
            margin:0;
            margin-bottom: 15px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            .info-suscription__item{
                margin-right: 25px;
                strong{
                    margin-right: 4px;
                }
            }
        }
        
        .info-description{
            margin: 0;
            margin-top: 7px;
        }
    }
  }
}

.grid-post{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.post{
  position: relative;
  display: block;
  border-radius: 10px;
  cursor: pointer;
  .post-image{
    margin: 0;
    img{
      width: 100%;
      vertical-align: top;
      border-radius: 3px;
    }
  }
  .post-hover{
    background: rgba(0, 0, 0, .4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    
    .post-hover-icon{
      display: flex;
      margin-right: 10px;
      align-items: center;
      justify-content: space-between;
      small{
        font-weight: bold;
        font-size: 1em;
        margin-left: 2px;
      }
    }

  }
  &:hover{
    display: flex;
    .post-hover{
      display: flex;
    }
  }

}

.hr-profile{
  margin-bottom: 25px;
}